@page
@model StandAutomoveis_1.Pages.Viaturas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Lojas:
        <select asp-for="LojaViatura" asp-items="Model.Lojas">
            <option value="">Todos</option>
        </select>
        <input type="submit" value="Filtrar"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Viatura[0].Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viatura[0].Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viatura[0].Loja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Viatura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loja)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
